<template lang="pug">
#file-management
  input#upload(
    data-role="file",
    data-mode="drop",
    @change="loadFromFile",
    type="file"
  )
</template>

<script lang="ts">

import { System, Storage, Window, Tab } from '@ContextSwitchUi/keys'
import { defineComponent, inject } from '@vue/runtime-core'

export default defineComponent({
  name: 'FileUpload',
  setup() {
    const systemRepo = inject(System)!
    const storageRepo = inject(Storage)!
    const tabRepo = inject(Tab)!
    const windowRepo = inject(Window)!
    const loadFromFile = async (event: Event) => {
      const lines = await systemRepo.loadFrom((event.target as HTMLInputElement).files![0])
      const rawId = new URLSearchParams(window.location.search).get('originalWindow')
      var id: number;
      if (rawId) {
        id = parseInt(rawId!)
      } else {
        id = await windowRepo.currentWindowId()
      }
      await storageRepo.tabs()
        .persist(await tabRepo.setTabs(id, lines))
      window.close()
    }
    return { loadFromFile }
  }
})
</script>