<template lang="pug">
#app 
  .navview-compact-fs(data-role="navview")
    .navview-pane
      button.pull-button
        span.default-icon-menu
      ul.navview-menu
        li.item-header Main pages
        li
          router-link(to="/")
            span.icon
              img(
                src="image/icon/home.svg"
              )
            span.caption Home
        li(v-if="firefox")
          a(@click="openWindow")
            span.icon
              img(
                src="image/icon/upload.svg"
              )
            span.caption Import File
        li(v-else)
          router-link(to="/fileUpload")
            span.icon
              img(
                src="image/icon/upload.svg"
              )
            span.caption Import File
    .navview-content
      router-view
</template>

<script lang="ts">
import { isFireFox } from '@ContextSwitch/browser/Browser';
import { Window } from '@ContextSwitchUi/keys'
import { defineComponent } from '@vue/runtime-core';
import { inject } from 'vue';

export default defineComponent({
  name: '',
  setup() {
    const firefox = isFireFox()
    const windowRepo = inject(Window)!
    const openWindow = async () => {
      windowRepo.createCenteredPopup(200, 480, `fileUpload.html?originalWindow=${await windowRepo.currentWindowId()}`)
    }
    return { firefox, openWindow }
  },
})
</script>
