<template lang="pug">
#url-management
  .grid
    .row
      .cell.url-list
        url-list
    .row
      .bottom.cell(style="padding:0%")
        input(type="hidden")
        a(ref="file_download", style="display: none")
        button#exportAllToFile.button.dark(@click="exportToFile")
          img(
            src="image/icon/download.svg"
          )
          span.label Export all
      .bottom.cell(style="padding:0%")
        button#copyAllToClipboard.button.dark(@click="copyToClipboard")
          img(
            src="image/icon/copy.svg"
          )
          span.label Copy all to clip board
</template>

<style lang="css">
html body {
  width: 30em;
  min-height: fit-content;
}

.url-list {
  width: auto;
  overflow: auto;
  height: 31em;
  widows: inherit;
  word-break: break-all;
}

.bottom {
  height: 4em;
  width: auto;
  vertical-align: middle;
  padding: 0%;
  margin: 0%;
  align-items: center;
}

.bottom button {
  width: 100%;
  height: 100%;
}

.bottom img {
  filter: invert(100%)
}
</style>

<script lang="ts">
import UrlList from '@ContextSwitchUi/ui/component/UrlList.vue'
import { ref } from '@vue/reactivity'
import { defineComponent } from '@vue/runtime-core'
import { inject } from 'vue'
import { System, Storage, } from '@ContextSwitchUi/keys'
import { ExportOptions } from '@ContextSwitch/core/Repository'

export default defineComponent({
  name: 'url-management',
  components: { UrlList },
  setup() {
    const file_download = ref(null)
    const systemRepo = inject(System)!
    const storageRepo = inject(Storage)!

    const copyToClipboard = async () => {
      const urls = await storageRepo.tabs().load().then(tab => tab.map(_ => _.url).join('\n'))
      systemRepo.notifyClipboardCopy(await systemRepo.copyToClipBoard(urls))
    }

    const exportToFile = async () => {
      const tabUrls = await storageRepo.tabs().load();
       await systemRepo.requestDownload(tabUrls, ExportOptions.PlainText)
      systemRepo.notifyFileDownloaded()
    }
    return { file_download, copyToClipboard, exportToFile }
  }
})
</script>
