<template lang="pug">
.url-item
  .card
    .card-header
      .header-icon
        img(
          @mouseover="hoverFocus = true",
          @mouseout="hoverFocus = false",
          @click="focusTab",
          :class="{ 'ani-shake': hoverFocus }",
          :alt="`Focus ${url}`",
          :title="`Focus ${url}`",
          src="image/icon/focus.svg"
        )
        img(
          @mouseover="hoverClose = true",
          @mouseout="hoverClose = false",
          @click="close",
          :class="{ 'ani-shake': hoverClose }",
          :alt="`Close ${url}`",
          :title="`Close ${url}`",
          src="image/icon/close.svg"
        )
    .card-content.p-2
      img(
        @mouseover="hoverCopy = true",
        @mouseout="hoverCopy = false",
        @click="copyToClipboard",
        :class="{ 'ani-shake': hoverCopy }",
        :alt="`Copy ${url} to clipboard`",
        :title="`Cop ${url} to clipboard`",
        src="image/icon/copy.svg"
      )
      span.label {{ url }}
</template>

<style>
.card img {
  visibility: visible;
  display: inline;
  height: 1em;
  width: 1em;
}

.card-content img {
  margin-right: .8em;
}

.header-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
</style>

<script lang="ts">
import { System, Tab, Event } from '@ContextSwitchUi/keys'
import { defineComponent, ref } from '@vue/runtime-core'
import { inject } from 'vue'
export default defineComponent({
  name: "url-item",
  props: {
    url: { type: String, required: true },
    tabId: { type: Number, required: true },
  },
  setup(props) {
    const hoverCopy = ref(false)
    const hoverClose = ref(false)
    const hoverFocus = ref(false)
    const event = inject(Event)!
    const systemRepo = inject(System)!
    const tabRepo = inject(Tab)!
    const copyToClipboard = () => {
      systemRepo.copyToClipBoard(props.url)
        .then(_ => systemRepo.notifyClipboardCopy(_))
    }
    const focusTab = () => {
      tabRepo.focus({ id: props.tabId, url: props.url })
    }
    const close = () => {
      tabRepo.closeTabs([{ id: props.tabId, url: props.url }])
        .then(_ => event.emit('changed'))
    }
    return { hoverCopy, hoverClose, hoverFocus, copyToClipboard, focusTab, close }
  },
})
</script>
