<template lang="pug">
#url-list-search
  input#searchField(v-model="searchText"
    data-role="input" 
    data-clear-button="false"
    data-search-button="true")
  #url-list
    url-item(v-for="tab in tabs.value", :key="tab.id", :url="tab.url" :tabId="tab.id")
</template>
<style lang="css">
#url-list-search .input {
  margin: .8em;
  width: 25em;
  min-height: fit-content;
}
</style>

<script lang="ts">
import UrlItem from '@ContextSwitchUi/ui/component/UrlItem.vue'
import FuzzySearch from 'fuzzy-search';
import { computed } from '@vue/reactivity'
import { defineComponent, onMounted } from '@vue/runtime-core'
import { reactive, inject } from 'vue'
import { Tab } from '@ContextSwitch/core/Core';
import { Event, Storage, Window, Tab as TabKey } from '@ContextSwitchUi/keys';
export default defineComponent({
  name: 'url-list',
  components: { UrlItem },

  setup() {
    let tabs = reactive({ value: [] })
    let text = reactive({ value: "" })
    let allTabs: Tab[] = []
    const storageRepo = inject(Storage)!
    const tabRepo = inject(TabKey)!
    const event = inject(Event)!
    const windowRepo = inject(Window)!
    const refresh = async () => {
      allTabs = await tabRepo.getAllTabs(await windowRepo.currentWindowId())
      await storageRepo.tabs().persist(allTabs)
      searchText.value = text.value
    }
    let searchText = computed({
      get: () => text.value,
      set: (val: string) => {
        text.value = val
        tabs.value = !val ? <any>allTabs : new FuzzySearch(allTabs, ['url'], { sort: true }).search(val)
      }
    })
    onMounted(() => { refresh() })
    event.on('changed', () => { refresh() })
    return { tabs, searchText }
  },
})
</script>
